body {
  margin: auto;
  font-family: open-sans, sans-serif;
  text-align: center;
}

h1 {
  background: linear-gradient(pink, purple);
  padding:100px;
  color: white;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  padding: 30px;
  height: 100vh;
  background: white;
  
}

.todo-list{
  background: #fafafa;
  border-radius: 8px;
  padding: 20px;
  max-width: 400px;
  margin: auto;
  z-index: 2;
  margin-top: -120px;
  box-shadow: 0px 0px 9px rgba(0,0,0, 0.3);
 
}

.todo{
  background: #fafafa;
  box-shadow: 1px 1px 1px rgba(0,0,0, 0.15);
  padding: 10px;
  font-size: 18px;
  margin-bottom: 6px;
  border-radius: 8px;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.input{
  width: 100%;
  background-color: rgb(235, 232, 232);
  box-sizing: border-box;
  border: 0;
  border-radius: 4px;
  box-shadow: none;
  padding: 1rem;
  height: 2.25em;
  font-size: 18px;
}
